
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_LayoutNoBackground.cshtml";
}
<!-- Contact -->
<div id="contact" class="section sm-padding" style="padding-bottom:30px;">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section-header -->
            <div class="section-header text-center">
                <h2 class="title">Get in touch</h2>
            </div>
            <!-- /Section-header -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>Phone</h3>
                    <p>+97142943600</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>info@busesdubai.com<br />operations@busesdubai.com</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-whatsapp"></i>
                    <h3>WhatsApp</h3>
                    <p>+971505058571</p>
                </div>
            </div>
            <!-- /contact -->



        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<div style="width:100%;height:350px;">
    <iframe style="width:100%;height:350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1803.9240565141868!2d55.31329708028717!3d25.275694362839943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDE2JzMyLjQiTiA1NcKwMTgnNDguNiJF!5e0!3m2!1sen!2s!4v1477994366398" class="iframe" allowfullscreen=""></iframe>
</div>
<!-- /Contact -->
