
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_LayoutNoBackground.cshtml";
}

<!-- Offers -->
<div id="offers" class="section sm-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Latest Offers</h2>
            </div>
            <!-- /Section header -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/images/15-seater.jpg" alt="15 seaterluxuary hiace for dubai transport">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>15 Seat</span>
                    <h3>Hi Roof Model 2016</h3>
                    <div class="work-link">
                        <a class="lightbox" href="~/images/15-seater.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/images/30-seater.jpg" alt="30 seater luxuary coster for dubai transport">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>30 Seat</span>
                    <h3>Coaster Model 2016</h3>
                    <div class="work-link">
                        <a class="lightbox" href="~/images/30-seater.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/images/35-seater.jpg" alt="35 seater luxuary bus for dubai transport">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>35 Seat</span>
                    <h3>Luxury King Long Bus</h3>
                    <div class="work-link">
                        <a class="lightbox" href="~/images/35-seater.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/images/king-long.jpg" alt="luxuary bus for dubai transport">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>50 Seat</span>
                    <h3>King Long Luxury Bus</h3>
                    <div class="work-link">
                        <a class="lightbox" href="~/images/king-long.jpg"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /offers -->
