@{
    ViewData["Title"] = "Partners";
    Layout = "~/Views/Shared/_LayoutNoBackground.cshtml";
}
<div class="section sm-padding bg-grey">

    <div class="container">

        <div class="section-header">
            <h2 class="title">Our Partners</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="~/images/toyota-logo.png" class="img-round img-responsive" alt="Toyota dubai buses partner" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="~/images/kinglong-logo.png" class="img-round img-responsive" alt="Dubai buses partner king kong" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="~/images/scania-logo.png" class="img-round img-responsive" alt="travel dubai partner scania" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="~/images/higer-logo.png" class="img-round img-responsive" alt="dubai buses partner higer" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="~/images/yutong-logo.png" class="img-round img-responsive" alt="dubai buses partner yotong" />
            </div>
        </div>
    </div>
</div>