@{
    ViewData["Title"]= "Bus Services";
    Layout = "~/Views/Shared/_LayoutNoBackground.cshtml";
}

<!-- Services -->
<div id="services" class="section sm-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Featured Services</h2>
                <p>We offer great vehicle services for our customers in UAE. </p>
            </div>
            <!-- /Section header -->
            <div class="row">
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-briefcase"></i>
                        <h3>Staff Transportation</h3>
                        <p>We provide both big and small sized buses to transfer laborers and workers from their camps to their work-sites and back.</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-compass"></i>
                        <h3>City Tour</h3>
                        <p>We provide instant buses with drivers to schools to undertake their excursions, educational trips and picnics during the academic year.</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-plane"></i>
                        <h3>Airport Transfers</h3>
                        <p>As part of our core services areas, we aim to fulfill any staff transfers for Airport Staff in the major cities of UAE.</p>
                    </div>
                </div>
                <!-- /service -->
            </div>
            <div class="row">
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-h-square"></i>
                        <h3>Hotel Transfers</h3>
                        <p>As part of our core services areas, we aim to fulfill any staff transfers for various hotels in the major cities </p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-calendar"></i>
                        <h3>Events Transportation</h3>
                        <p>Different types of Buses can be booked with us to facilitate shuttle services at any event/ exhibition/conference in the cities of...</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-book"></i>
                        <h3>School Transportation</h3>
                        <p>One of our core areas of service is the School Transportation in the UAE. We provide fully government-compliant, safe and reliable....</p>
                    </div>
                </div>
                <!-- /service -->
            </div>



        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /services -->
