
@{
    Layout = "~/Views/Shared/_LayoutNoBackground.cshtml";
    ViewBag.Title = "About Us";
}

<div id="features" class="section sm-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">About Us</h2>
                </div>
                <p>
                    Luxury Art Passenger Transport is a company who rents luxury-buses, luxury-coaches in Dubai. We offer a first class professional business with valid and reliable service. Our delightful transfers with ultra modern, luxury buses for you, your family and friends are intended for Luxury Art Passenger Transport.
                </p>
                <p>
                    Your transfers in Dubai can be adapted for any of your requirements, for personal use or pleasure, for vacations or for business purposes. Your transfers in Dubai can be completely adapted to meet all of your needs in your personal schedule, on your vacation or for your business trips. You will enjoy fairytale luxury while travelling to your destination arriving relaxed, refreshed and happy.
                </p>
                <p>
                    Our fleet of luxury vehicles offers an incomparable atmosphere together with high technology so you can enjoy a magic journey which will fulfil and meet all of your greatest expectations. With great respect for our clients we are able to offer the highest quality service which fulfils their personal demands and needs with politeness and safety.
                </p>
                <p>
                    We will make your professional transfer a unique, private, relaxing and enjoyable experience. Our fleet will give you a completely different picture of your personal character of travel. We will have a first class appearance throughout the duration of your business travel or your social needs.Since vacations are for everyone and they should be luxurious with your treasures of luggage with your lives together. We should not waste a moment of our lives searching for how we will get to our destination.
                </p>
                <p>
                    Luxury Art Passenger Transport will provide you with all of the finest details for your transfers throughout your trip and you will always be very satisfied. Weddings, exhibitions, functions, parties, birthdays, romantic dinners and brilliant night time celebrations can be provided by our company and all of your magical transfers with luxury buses for all of your guests with the expertise and politeness that no client will ever forget.
                </p>
                <p>
                    Luxury Art Passenger Transport also offers vehicles for film making crews, photographers and any other need requested by clients.
                </p>
            </div>
            <!-- /why choose us content -->
            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="~/images/15-seater.jpg" alt="15 seater hiace for dubai transport">
                    <img class="img-responsive" src="~/images/30-seater.jpg" alt="30 seater coster for dubai transport">
                    <img class="img-responsive" src="~/images/35-seater.jpg" alt="15 seater luxuary bus for dubai transport">
                    <img class="img-responsive" src="~/images/king-long.jpg" alt="luxuary bus for dubai transport">
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Best Transport Services in Dubai</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Luxury Vehicles</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Hotel Transportation</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Airport Transportation</p>
                </div>
            </div>
            <!-- /About slider -->

        </div>
        <!-- /Row -->


    </div>
    <!-- /Container -->

</div>
<!-- /Why Choose Us -->